**/.ipynb_checkpoints/
tutorial/data/*.sites
tutorial/data/*.anc
tutorial/data/*.mut
tutorial/data/*.dist
tutorial/data/slim_sim.trees
tutorial/data/*.pairwise.coal
tutorial/data/*.rate
tutorial/data/*.bin
tutorial/data/*.poplabels
tutorial/data/*.map
tutorial/data/*.haps
tutorial/data/*.sample
tutorial/data/*.vcf.gz
tutorial/data/slim_sim.trees
tutorial/data/slim_sim_simple_unary.trees
